.md {
	color: #222;
	word-break: break-word;
	font-size: 16px;
    line-height: 1.4;
}
.md a {
	color: #3084bb;
}
.md a:hover{
    text-decoration: underline;
}
.md img {
	max-width: 100%;
	margin: 5px auto;
    display: block;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
}
.md *:first-child {
	margin-top: 0
}
.md code {
	font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
	white-space: pre;
	word-wrap: normal;
	line-height: 1.3;
}
.md kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: #555;
	vertical-align: middle;
	background-color: #FCFCFC;
	border-width: 1px;
	border-style: solid;
	border-color: #CCC #CCC #BBB;
	border-image: none;
	border-radius: 3px;
	box-shadow: 0px -1px 0px #BBB inset
}
.md h1 {
	font-size: 1.3em;
	font-weight: 600;
	margin: 24px 0 12px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #e7e9ed;
	color: #313236
}
.md h2 {
	font-size: 1.2em;
	font-weight: 600;
	margin: 24px 0 12px 0;
	color: #313236
}
.md h3 {
	margin: 24px 0 12px 0;
	font-size: 1.15em
}
.md h4 {
	margin: 24px 0 12px 0;
	font-size: 1.1em
}
.md h5 {
	margin: 24px 0 12px 0;
	font-size: 1em
}
.md h6 {
	margin: 24px 0 12px 0;
	font-size: 0.90em
}
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
	position: relative
}
.md blockquote {
	color: #7f8fa4;
	font-size: inherit;
	padding: 8px 21px;
	margin: 12px 0 12px;
	border-left: 3px solid #e7e9ed
}
.md blockquote p {
	color: #7f8fa4 !important;
	font-size: inherit;
	line-height: 1.5
}
.md p {
	color: #5c5d5e;
	margin: 20px 0 0 0
}
.md pre {
	margin: 12px 0 12px 0 !important;
	background-color: #002b36;
	font-size: 13px !important;
	color: #93a1a1;
	line-height: 1.15em !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
	overflow-x: auto;
}
.md p>code {
	font-weight: inherit;
	border: solid 1px #ccc;
	padding: 0 5px;
	background: #ececec;
	border-radius: 3px;
	margin: 0 2px;
}
.md ul, .md ol {
	padding: 0;
	margin: 6px 0 6px 18px !important
}
.md li {
	line-height: 1.6em;
	list-style: disc;
}
.md hr {
	height:1px;
	border:none;
	border-top:1px dashed #222;
}
.md table {
	margin: 12px 0 12px 0;
	width: 100%;
	max-width: 100%;
	color: #5c5d5e;
	border: 1px solid #bbb;
	border-collapse:collapse; 
	border-spacing:0;
}
.md table th {
	background: #f8fafc
}
.md table>thead>tr>th,
.md table>thead>tr>td,
.md table>tbody>tr>th,
.md table>tbody>tr>td,
.md table>tfoot>tr>th,
.md table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #bbb
}
.md table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #bbb
}
.md table>caption+thead>tr:first-child>th,
.md table>caption+thead>tr:first-child>td,
.md table>colgroup+thead>tr:first-child>th,
.md table>colgroup+thead>tr:first-child>td,
.md table>thead:first-child>tr:first-child>th,
.md table>thead:first-child>tr:first-child>td {
	border-top: 0
}
.md table>tbody+tbody {
	border-top: 2px solid #bbb
}
.md table>thead>tr>th,
.md table>thead>tr>td,
.md table>tbody>tr>th,
.md table>tbody>tr>td,
.md table>tfoot>tr>th,
.md table>tfoot>tr>td {
	border: 1px solid #bbb
}
.md table>thead>tr>th,
.md table>thead>tr>td {
	border-bottom-width: 2px
}
